.big-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.digit{
    
    width: 60px; 
    height: 80px;
    
   
    margin: 0 5px; 
    
    
    font-size: 50px;
    
    text-align: center;
    
    
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clock-icon i {
    width: 60px; 
    height: 80px;  
   
    margin: 0 5px;     
    
    font-size: 50px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
        
}